@mixin clearfix{
    &::after {
        content:"";
        display: table;
        clear: both;
    }
}
@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
}

// MEDIA QUERY MANAGER

 /*
  0 - 600 - PHONE
  600 - 900 - TABLET PORTRAIT
  900 - 1200 - TABLET LANDSCAPE
  1200 - 1800 - LAPTOP
  1800 - ABOVE - DESKTOP OR TV 

 */ 

//  @mixin respond-phone {
//     @media (max-width :600px){
//         @content
//     }
//  }

 @mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media (max-width: 37.5em){@content};
    }
    @if $breakpoint == tab-port { 
        @media (max-width: 56.25em){@content};
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em){@content};
    }
    @if $breakpoint == lap {
        @media (max-width: 112.5em){@content};
    }
 }